@model IEnumerable<VideoWindowViewModel>

<h1>All Videos</h1>

<div class="video-list">
    @foreach (var video in Model)
    {
        <div class="video-item">
            <a asp-action="Details" asp-route-id="@video.Id">
                <img src="@video.ImagePath" alt="Thumbnail for @video.Title" width="250" />
                <h3>@video.Title</h3>
            </a>
            <p>Uploaded by: @video.OwnerName</p>
            <p>Uploaded on: @video.Uploaded.ToString("dd/MM/yyyy")</p>
        </div>
    }
</div>