@model IEnumerable<VideoWindowViewModel>

<h1>My Collection</h1>

<div class="video-list">
    @foreach (var video in Model)
    {
        <a asp-action="Play" asp-route-id="@video.Id" class="video-item-link">
            <div class="video-item">
                <img src="@video.ImagePath" alt="Thumbnail for @video.Title" width="250" />
                <h3>@video.Title</h3>
                <p>Uploaded by: @video.OwnerName</p>
                <p>Uploaded on: @video.Uploaded.ToString("dd/MM/yyyy")</p>

                <a asp-action="Edit" asp-route-id="@video.Id" class="btn btn-primary">Edit</a>
            </div>
        </a>
    }
</div>
